.header {
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    width: 100%; 
    background-color: var(--color-primary);
    // height: 500px;
}

.content {
    padding-top: 20vh;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
