@import '../../scss/variables.scss';

.header {
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    width: 100%; 
}

.content {
    padding: 90px 0 90px 0;
    padding-left: $layout-padding-left;
    display: flex;
    justify-content: center;
    align-items: center;
}
