.home-bg {
    background-image: url('../../images/recordstore.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 76vh;
    width: 100%;
}