@import '../../scss/variables.scss';

.playlist-table-row:hover {
    background-color: lightgray;
}

.sound-wave {
    width: 1.5rem;
}

.playlist-table-header {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}